<%# DEPRECIATED 1/5 for repo_list  %>

<table id="repos" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Repo Name / Repo Owner</th>
      <!-- <th>Name</th> -->
      <!-- <th><a id="link" rel="tooltip" data-placement="top" data-original-title="Points are a combination of the popularity on Github measured by the number of watchers, stars, and the number of comments on an issue blended with Gitbo metrics such as upvotes and owner endorsements">Points</a></th> -->
      <th>Open Issues</th>
      <th>Watchers</th>
      <!-- <th>Issues Comment Count</th> -->
      <th>Bounty Total</th>
    </tr>
  </thead>
  <tbody>
      <%= render 'repos/repos-data' %>
  </tbody>
</table>

<!-- data-source="<%#= repos_url(format: "json") %>" -->