<table id="repos" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" data-source="<%= repos_url(format: "json") %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Popularity</th>
      <th>Open Issues</th>
      <th>Watchers</th>
      <th>Issues Comment Count</th>
    </tr>
  </thead>
  <tbody>
      <%= render 'repos/repos-data' %>
  </tbody>
</table>

