<table id="repos_table" class="display" style="display:none">
  <thead>
    <tr>
      <th>Name</th>
      <th>Popularity</th>
      <th>Open Issues</th>
      <th>Watchers</th>
      <th>Issues Comment Count</th>
    </tr>
  </thead>
  <tbody>
      <%= render 'repos/repos-data' %>
  </tbody>
</table>