 <% submit_path = "/comments" %>

  <%= form_tag(submit_path, :method => "post") do  |t|%>

      <div class="field">
        <textarea cols='40' id='comment_body' name='comment[body]' placeholder='leave a comment' rows='20'></textarea>
      </div>
      <div class="actions">
        <input name = "commit" type="submit" value="Comment" method="post" />
      </div>

  <% end %>
