<div class="user_vote_table">
 <% if current_user %>
    <td class="parent_class">
        <span><%= link_to vote_issue_path(issue.id, :upvote), :method => :put, :class => "upvote", remote: true do %></span>
        <i id="index_upvote_icon_<%= issue.id %>" class="icon-arrow-up"></i>
      <% end %><br />
      
        <span><%= link_to vote_issue_path(issue.id, :downvote), :method => :put, :class => "downvote", remote: true do %></span>
        <i id="index_downvote_icon_<%= issue.id %>" class="icon-arrow-down"></i>
        <!-- <i id="index_downvote_icon_<%#= issue.id %>" class="icon-circle-arrow-down"></i> -->
      <% end %>
  <% else %>
      <td id="vote-prompt" href="#login-prompt" data-toggle="modal">
        <i class="icon-arrow-up"></i><br />
        <i class="icon-arrow-down"></i></td>
  <% end %>
   </td>

</div>