<table style="float:left;">
  <thead>
    <tr>
      <th>Following</th>
    </tr>
  </thead>
  <tbody>
    <% @user.cached_following.each do |user| %>
      <% if User.is_the_owner_registered?(user) %>
        <tr><td><%= link_to user, owner_repos_path(user) %></td></tr>
      <% else %>
        <tr><td><%= user %></td></tr>
      <% end %>
    <% end %>
  </tbody>
</table>