<div class="users">
  <table style="float:left;">
    <thead>
      <tr>
      <h3>Following</h3>
      </tr>
    </thead>
    <tbody>
      <ul class="members" id="following">
        <% @user.cached_following.sort {|a,b| a.downcase <=> b.downcase}.each do |user| %>
          <% if User.is_the_owner_registered?(user) %>
          <li>
            <a><!-- <img class="gravatar"><%#= @user.image %> -->
              <%= link_to user, owner_repos_path(user) %>
              <!-- <span>(<%#= @user.nickname %>)</span> --></a>
          </li>
          <% else %>
          <li>
            <%= user %>
          </li>
          <% end %>
        <% end %>
      </ul>
    </tbody>
  </table>
</div>