<table class="table table-hover", id="bounties_table">
  <thead>
    <tr>
      <th>Bounty Issued by</th>
      <th>Bounty Price</th>
      <th>Bounty Issued</th>
      <th>Bounty Updated</th>
    </tr>
  </thead>
  <tbody>
    <% issue.bounties.sort_by(&:price).reverse.each do |bounty| %>
      <tr>
        <td><%= bounty.user.nickname %></td>
        <td><%= number_to_currency(bounty.price, :precision => 0) %></td>
        <td><%= time_ago_in_words( bounty.created_at ) %> ago</td>
        <td><%= time_ago_in_words( bounty.updated_at ) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>
