<tr>
  <td><%= link_to bounty.user.nickname, owner_repos_path(bounty.user.nickname) %></td>
  <td><%= number_to_currency(bounty.price, :precision => 0) %></td>
  <td><%= time_ago_in_words( bounty.created_at ) %> ago</td>
</tr>