<div class="bounties" id="bounties_div">
<table class="table table-hover" id="bounties_table">
  <thead>
    <tr>
      <th>Issued by</th>
      <th>Price</th>
      <th>Issued</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% issue.bounties.sort_by(&:price).reverse.each do |bounty| %>
      <%= render bounty %>
    <% end %>
  </tbody>
</table>
</div>