<% if @issue %>
  <% submit_path = "/#{@issue.repo.owner_name}/#{@issue.repo_name}/issues/#{@issue.git_number}/bounty" %>
<% end %>

<%= form_tag(submit_path, :method => "post", remote: true, :id => "new_bounty_form" ) do %>

<!-- <h3>For issue #<%#= @issue.git_number %> in <%#= "#{@issue.repo_owner}/#{@issue.repo_name}" %></h3> -->

<div class="field">
  <input id="bounty_price_page" name="price" placeholder="Enter your bounty" />
</div>
<div class="actions" id="pledge">
  <!-- <input name="commit" type="submit" value="Create Bounty" method="post" /> -->
  <button id="pledge" class="btn btn-success btn-small" href="#bounty-confirmation" data-toggle="modal" type="button">Pledge</button>
</div>

<% end %>

