<% if @issue %>
  <%  submit_path = "/#{@issue.repo.owner_name}/#{@issue.repo.name}/issues/#{@issue.git_number}/bounty" %>
<% end %>

<%= form_tag(submit_path, :method => "post", remote: true) do %>

<!-- <h3>For issue #<%#= @issue.git_number %> in <%#= "#{@issue.repo.owner_name}/#{@issue.repo.name}" %></h3> -->

<div class="field">
  <label for="bounty_price">Enter your bounty</label>
  <input id="bounty_price" name="price" type="number" />
</div>
<div class="actions">
  <input name="commit" type="submit" value="Create Bounty" method="post" />
</div>

<% end %>

