<% if @issue %>
  <%  submit_path = "/#{@issue.repo.owner_name}/#{@issue.repo.name}/issues/#{@issue.git_number}/bounty" %>
<% end %>

<%= form_tag(submit_path, :method => "post", remote: true, :id => "new_bounty_form" ) do %>

<!-- <h3>For issue #<%#= @issue.git_number %> in <%#= "#{@issue.repo.owner_name}/#{@issue.repo.name}" %></h3> -->

<div class="field">
  <label for="bounty_price">Enter your bounty</label>
  <input id="bounty_price" name="price" type="number" />
</div>
<div class="actions">
  <input name="commit" type="submit" value="Create Bounty" method="post" />
  <button id="bounty" class="btn btn-success btn-small" href="#bounty-confirmation" data-toggle="modal" type="button">Pledge</button>
</div>

<% end %>

