<h1>Editing bounty</h1>

<%= form_tag(@bounty, :method => "put", :id => "edit_bounty_form" ) do %>

<!-- <h3>For issue #<%#= @issue.git_number %> in <%#= "#{@issue.repo.owner_name}/#{@issue.repo_name}" %></h3> -->

<div class="field">
  <label for="bounty_price">Enter your bounty</label>
  <input id="bounty_price" name="bounty[price]" type="number" />
  <input id="bounty_id" name="id" type="hidden" />
</div>
<div class="actions">
  <input name="commit" type="submit" value="Create Bounty" method="post" />
</div>

<% end %>

<%= link_to 'Back', "/#{@issue.repo.owner_name}/#{@issue.repo_name}/issues/#{@issue.git_number}" %>
