<h1>Issues for <%= link_to @repo.name.capitalize, @repo %></h1>
<table class="table">
  <b>All Open Issues / Issue Git number: </b>
  <% @repo.issues.each do |issue| %>
    <tr>
      <td><%= link_to issue.title, owner_repo_gitnumber_path(@repo.owner_name, @repo.name, issue.git_number) %></td>
      <td><%= issue.git_number %></td>
    </tr>
  <% end %>
</table><br />

<%= link_to "Back to repo: #{@repo.name}", repo_path(@repo) %>