<div id="bounty-confirmation" class="modal hide fade" tabindex="-1">
  <% if @issue %>
    <%  submit_path = "/#{@issue.repo_owner}/#{@issue.repo_name}/issues/#{@issue.git_number}/bounty" %>
  <% end %>

  <%= form_tag(submit_path, :method => "post", remote: true, :id => "modal_bounty_form" ) do %>
  <div class="modal-body">
    <h4>You are about to place a bounty on Issue #<%= @issue.git_number %> of <%= @issue.repo_name.humanize %>.</h4>
    <input id="bounty_price" name="price" placeholder="Please confirm your pledge..." />
  </div>
  <div class="modal-footer">
    <span id="error"></span>
    <div class="actions">
      <button class="btn btn-success btn-small" id="create-bounty" name="commit" type="submit" />Pledge</button>
      <button class="btn btn-danger btn-small" id="nevermind" data-dismiss="modal" aria-hidden="true">Nevermind</button>
    </div>
  </div>
</div>
<% end %>