<div id="claim-bounty-confirmation" class="modal hide fade" tabindex="-1">

<% if @issue && current_user %>
  <%  submit_path = "/#{current_user.nickname}" %>
<% end %>


<div class="modal-body">
  <div class="field">
    <label for="claim-label">Just to be sure, can you confirm by re-entering your github username?</label>
    <input id="claim-label" name="nickname" type="text" />
  </div>
  <div class="modal-footer">
    <span id="error"></span>
    <div class="actions">
      <button class="btn btn-success btn-small"><%= link_to 'I really did solve it', user_winner_path(@issue), :id => 'claim-bounty', :name => 'commit', :method => :post %></button>
      <button class="btn btn-danger btn-small" data-dismiss="modal" aria-hidden="true">Oopsy</button>
    </div>
  </div>
</div>
