<div id="login-prompt" class="modal hide fade" tabindex="-1" data-backdrop="vote-prompter" data-keyboard="false">
  <div class="modal-body">
    <p>Please login with Github to continue...</p>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Cancel</button>
    <%= link_to "Sign in with Github", "/auth/github", :class => "btn btn-primary" %>
  </div>
</div>