div.hero-unit {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left-right: 0px;
  margin-bottom: 30px;
  margin-top: 60px;
  font-size: 13px;
  font-weight: 200;
  line-height: 15px;
  color: inherit;
  background-color: #EEE;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

div.hero-unit h1 {
  text-align: center;
}
div.hero-unit h3 {
  text-align: center;
  padding-bottom: 25px;
}

div.hero-unit div.row div.span3 {
  padding: 25px;
}

div.hero-unit .row {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.step_writeup {
  text-align: center;
}

.help a img {
  margin-left: 30px;
}
