.hero-unit {
  margin-top: 45px;
  height: 215px;
  padding: 72px;
  font-size: 18px;
  font-weight: 200;
  line-height: 50px;
  text-align: center;
  color: inherit;
  background-color: #E9F1F4s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.btn {
  
}

.btn:hover {
  color: #405A6A;
}