
#issues-index {
    font-size:110%;
}

.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:111%;
    line-height:1.0;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}


.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}​

.endorsement {
  display: inline;
  margin-left: 20px;
}

#endorse {
  text-align: right;
  margin-bottom: 10px;
}

.divider {
  padding-top: 10px;
  border-top: 1px solid black;
}


.issue_bg {
  background-color: #ffe084;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: -40px;
  padding: 15px;
}

#grey_color {
  color: #999;
}

#bounty_price_page {
  margin-bottom: 10px;
}

.right-sidebar{
  padding: 20px;
  background-color: #EEE;
  border-radius: 15px;
  margin-top: 10px;
  }

.right-sidebar .span2 {
  width: 130px;
}

.right-sidebar .vote {
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
.right-sidebar .vote a {
  width: 83px
}

/* Issues List */

#filter-bar {
  background: #fff;
}

ul.issues_list {
  list-style: none;
  background: #eee;
}

ul.issues_list .issue_line_item {
  padding: 10px 0;
}
.issue_line_item #title {
  font-size: 125%;
  line-height: 125%;
  margin-bottom: 5px;
}
ul.issues_list li.issue_line_item:nth-child(even) {
  background: #CCC;
}
ul.issues_list li.issue_line_item:nth-child(odd) {
  background: #eee;
}
ul.unstyled {
  background: none;
}

.issue-comment-count, .issue-comment-count #link {
  font-weight: bold;
  color: #888;
  font-size: 85%; 
}

.bounty-label {
  padding: 6px;
  font-size: 270%;
  line-height: 100%;}

.bounty-text {
  text-align: center;
}
.issue_line_item #bounty-display {
  margin-top: 5px;
}


/* end issues list */

/*.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0; 
   color: gold;
}

body { padding: 100px; }*/

/*HTML <strong>Difficulty Rating</strong>
    <div class="rating">
      <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>*/

/*.seal{
  z-index: -1;
}



div#seal.seal:first-child{
  display:inline-block;
  width:85px;
  height:85px;
  padding:30px;
  background-image: -webkit-linear-gradient(bottom left, white 0%, green 100%);
  background-image: -o-linear-gradient(bottom left, white 0%, green 100%);
  background-image: -moz-linear-gradient(bottom left, white 0%, green 100%);
  background-image: -webkit-linear-gradient(bottom left, white 0%, green 100%);
  background-image: -ms-linear-gradient(bottom left, white 0%, green 100%);
  border-radius:100%;
  border:3px solid white;
  box-shadow:-1px 1px 2px rgba(0,0,0,0.5);
  color:white;
  text-shadow:-1px -1px 1px rgba(0,0,0,0.5);
  font-size:25px;
  line-height:80px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  position:relative;
}

div#seal.seal:before{
  content:"";
  display:inline-block;
  width:85px;
  height:85px;
  padding:30px;
  background-image: -webkit-linear-gradient(bottom left, white 0%, green 100%);
  background-image: -o-linear-gradient(bottom left, white 0%, green 100%);
  background-image: -moz-linear-gradient(bottom left, white 0%, green 100%);
  background-image: -webkit-linear-gradient(bottom left, white 0%, green 100%);
  background-image: -ms-linear-gradient(bottom left, white 0%, green 100%);
  border-radius:100%;
  border:3px solid white;
  box-shadow:0px 0px 3px rgba(0,0,0,0.5);
  color:white;
  text-shadow:-1px -1px 1px rgba(0,0,0,0.5);
  font-size:50px;
  line-height:80px;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  position:absolute;
  bottom:70px;
  left:70px;
}

div#seal.seal:after{
  content:"";
  display:inline-block;
  width:125px;
  height:125px;
  padding:30px;
  background:white;
  position:absolute;
  bottom:81px;
  left:81px;
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
}​
*/

/*#bounty_div {
  text-align: right;
}*/
