// Place all the styles related to the repos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#repo-list {
  font-size: 120%;
}

.repo-head {
  position: relative;
  font-size: 12px;
  background-color: #EAEAEA;
  background-image: -moz-linear-gradient(#FAFAFA, #EAEAEA);
  background-image: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
  background-image: linear-gradient(#FAFAFA, #EAEAEA);
  background-repeat: repeat-x;
  border: 1px solid #EAEAEA;
  border-bottom-color: #CACACA;
  border-radius: 3px;
  margin-bottom: 10px;
  h5 {
    line-height: 40px;
    color: #777;
    text-align: center;
  }
  .money {
    color: #026F06;
  }
}

div.row form#new_repo.new_repo {
  
  padding-left: 40px;
}

div.row form#new_repo.new_repo p {
  line-height: 13px;
}

label {
  font-size: 16px;
}