
body {
  // background: image-url('bg-blue.jpg') repeat-x;
}

.container-narrow {
  margin: 0 auto;
  margin-top: 30px;
}

.container-narrow > hr {
  margin: 20px 0;
}

.jumbotron {
    text-align: center;
  }

.page_head {
  margin: 60px 0 20px 0;
}

.nav p {
  padding: 10px 15px 10px;
}

.btn a {
  color: #F3F7F8;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  word-spacing: 2px;
}

.navbar .nav {
  padding: 10px;
}

.navbar .nav > li > a {
  padding: 5px 20px 5px;
}

.nav .user-avatar {
  padding: 0px;
  img {
    border-radius: 3px;
    height: 40px;
    width: 40px;
    margin-left: 10px;
  }
  a {
    padding: 0;
  }
}

.navbar .left-nav{
  padding-top: 20px;
}

.user-nickname {
  text-align: center;
  padding-top: 5px;
}

.navbar .nav > li.user-nickname > a {
  padding: 0px 15px 0px;
}

.navbar .nav > li.user-avatar > a {
  padding: 5px 0 0 0 ;
}

.input-medium search-query {
  padding: 10 px;
}

#endorsement {
    border-radius: 10%;
    // width: 100px; height: 100px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    // line-height: 6px;
    padding: 10px;
    margin-top: 15px;
    margin-left: 15px;
  }

.discussion-sidebar {
  float: right;
  // width: 100px;
}

.issue-head {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #D5D5D5;
  border-width: 2px 1px 2px 1px;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  color: #999;
}

.counter {
  position: relative;
  top: -1px;
  margin: 0 0 0 5px;
  padding: 1px 5px 2px 5px;
  font-size: 10px;
  font-weight: bold;
  color: #666;
  background: #E5E5E5;
  border-radius: 10px;
}

a:focus, .navbar .nav > li > a.btn:hover {
  
 
  background-color: #E6E6E6;
  background-position: 0 -15px;
}


div.vote a {

  height: 20px;
}

.table td {
  line-height: 15px;
}

tr td.issue-index-repo {
  padding-top: 10px;
}

td#vote-prompt {
  padding-left: 10px;
}

td a span.label {
  padding: 9px 4px;
  text-align: center;
}

td a span {
  text-align: center;
}

td#vote-prompt hr {
  margin: 6px 0;
  width: 75%;
  text-align: center;
}

td#vote-prompt {
  text-align: center;
}

td.parent_class hr {
  margin: 6px 0;
  width: 75%;
  text-align: center;
}

td.parent_class {
  text-align: center;
}

#issue-endorcement span.label {
    border-radius: 50%;
    width: 36px; height: 36px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

td.issue_avg_difficulty {
  text-align: center;
}

div.application_page_head {
  margin-top: 50px;
}



