.container-narrow {
  margin: 0 auto;
  margin-top: 60px;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
    text-align: center;
  }

.page_head {
  margin: 60px 0 20px 0;
}

.nav p {
  padding: 10px 15px 10px;
}

