table.display td {
  padding: 10px 10px;
  fond-size: 14px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #333;
  margin-bottom: 30px;
}
